.perso {
    background-color: bisque !important;
}
.messages-ctrn {
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.messages {
    flex-direction: column-reverse !important;
}